* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#movieMenu {
  height: 100%;
  width: 20%;
  background-color: rgb(190, 50, 22);
}

.filmItem {
  font-size: 12px;
  margin-bottom: 4px;
}

#movieDetails {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

#firstMovie {
  flex: 2;
  background-image: url("https://www.gstatic.com/tv/thumb/v22vodart/2157/p2157_v_v8_ab.jpg");
  background-color: whitesmoke;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

#firstMovieDetails {
  width: 30%;
  text-align: center;
}

.sellingTicket {
  background-color: rgb(190, 50, 22);
  color: black;
  width: 100px;
  border: none;
  font-size: 12px;
  padding: 6px;
}

#otherMovies {
  flex: 1;
  background-color: whitesmoke;
}
